<%- include('header.ejs') %> 



        <div class="about">
            <div class="about-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Error hic nam dolorem voluptas sit accusantium ullam, earum quo mollitia minus repellendus,
                  odio expedita in, culpa natus laboriosam amet similique.
                  Vel ducimus inventore ullam, commodi iste ipsam minima.
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Error hic nam dolorem voluptas sit accusantium ullam, earum quo mollitia minus repellendus,
                  odio expedita in, culpa natus laboriosam amet similique.
                  Vel ducimus inventore ullam, commodi iste ipsam minima.
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Error hic nam dolorem voluptas sit accusantium ullam, earum quo mollitia minus repellendus,
                  odio expedita in, culpa natus laboriosam amet similique.
                  Vel ducimus inventore ullam, commodi iste ipsam minima.
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Error hic nam dolorem voluptas sit accusantium ullam, earum quo mollitia minus repellendus,
                    odio expedita in, culpa natus laboriosam amet similique.
                    Vel ducimus inventore ullam, commodi iste ipsam minima.
                </p>

                    <div class="address">
                        <address>
                            <p><strong>Saint Leron Stree, 4424</strong></p>
                            <p><strong>+123456789</strong></p>
                            <p><strong>okoro9mansah@gmail.com</strong></p>
                        </address>
                    </div>
                                
            </div>
        </div>

       

        <%- include('footer.ejs') %> 
