 <!-- --------------------------- Footer ---------------------------------------- -->

 <footer class="footer" data-aos="fade-left" data-aos-delay="130">
    <div class="container">
        <div class="about-us" data-aos="" data-aos-delay="200">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quia atque nemo ad modi officiis
                iure, autem nulla tenetur repellendus.</p>
        </div>
        <div class="newsletter" data-aos="" data-aos-delay="200">
            <h2>Newsletter</h2>
            <p>Stay update with our latest</p>
            <div class="form-element">
                <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
        <div class="instagram" data-aos="" data-aos-delay="200">
            <h2>Instagram</h2>
            <div class="flex-row">
                <img src="/images/instagram/thumb-card3.png" alt="insta1">
                <img src="/images/instagram/thumb-card4.png" alt="insta2">
                <img src="/images/instagram/thumb-card5.png" alt="insta3">
            </div>
            <div class="flex-row">
                <img src="/images/instagram/thumb-card6.png" alt="insta4">
                <img src="/images/instagram/thumb-card7.png" alt="insta5">
                <img src="/images/instagram/thumb-card8.png" alt="insta6">
            </div>
        </div>
        <div class="follow" data-aos="" data-aos-delay="200">
            <h2>Follow us</h2>
            <p>Let us be Social</p>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="rights flex-row">
        <h4 class="text-gray">
            Copyright ©2019 All rights reserved | made by
            <a href="www.youtube.com/c/dailytuition" target="_black">Daily Tuition <i class="fab fa-youtube"></i>
                Channel</a>
        </h4>
    </div>
    <div class="move-up">
        <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
    </div>
</footer>

<!-- -------------x------------- Footer --------------------x------------------- -->








<!-- Jquery Library file -->
<script src="/javascripts/Jquery3.4.1.min.js"></script>

<!-- --------- Owl-Carousel js ------------------->
<script src="/javascripts/owl.carousel.min.js"></script>

<!-- ------------ AOS js Library  ------------------------- -->
<script src="/javascripts/aos.js"></script>

<!-- Custom Javascript file -->
<script src="/javascripts/main.js"></script>


</body>
</html>
