<%- include('header.ejs') %> 





        <!------------------------ Site Title ---------------------->

        <section class="site-title">
            <div class="site-background" data-aos="fade-up" data-aos-delay="100">
                <h3>Kitchen & Sink</h3>
                <h1>Treasuring Delicacies</h1>
                <button class="btn">Onward</button>
            </div>
        </section>

        <!------------x----------- Site Title ----------x----------->



 


        <!------------------------ Main Content ---------------------->

        	<div class="content">

        		<div class="foods">

        			<div class="food-card" data-aos="fade-up" data-aos-delay="420">
        				<img src="/images/images/menu-group-1.jpg" style="width: 400px; max-width: 400px">
        			    <h3>Nkwan</h3>
        			    <p>$12.99</p>
        			</div>

        			<div class="food-card" data-aos="fade-down" data-aos-delay="420">
        				<img src="/images/images/menu-group-2.jpg" style="width: 400px; max-width: 400px">
        			    <h3>Ab3b3</h3>
        			    <p>$12.99</p>
        			</div>

        			<div class="food-card" data-aos="fade-left" data-aos-delay="420">
        				<img src="/images/images/menu-group-3.jpg" style="width: 400px; max-width: 400px">
        			    <h3>Akrante3</h3>
        			    <p>$12.99</p>
        			</div>

        			<div class="food-card" data-aos="fade-right" data-aos-delay="420">
        				<img src="/images/images/menu-group-4.jpg" style="width: 400px; max-width: 400px">
        			    <h3>Abunuabunu</h3>
        			    <p>$12.99</p>
        			</div>

        		</div>

        	</div>



        <!------------x----------- Main Content ----------x----------->



        	<!------------- Enquiry Form ----------->
        	<div class="email-form" data-aos="fade-in" data-aos-delay="200">
        		<div class="text">
        			<h3>Enquiries</h3>
        			<p>Wanna know more, well send us an email of your enquiries!</p>
        		</div>

        		<div class="form">
        			<form method="POST" action="#">
        				<input type="text" name="">
        				<button class="btn">Send</button>
        			</form>
        		</div>
        	</div>
        	<!---------X-------- Enquiry Form  ----------X------------>



   <%- include('footer.ejs') %> 