<%- include('header.ejs') %> 





        <!------------------------ Site Title ---------------------->

        <section class="site-title site-title-form">
            <div class="site-background" data-aos="fade-up" data-aos-delay="100">
                <form action="/login" method="POST">
                    <label>Log In</label>
                    <h4>Email</h4>
                    <input type="text" name="email">
                    <h4>Password</h4>
                    <input type="password" name="password">
                </form>
                <button class="btn" type="submit">Onward</button>
            </div>
        </section>

        <!------------x----------- Site Title ----------x----------->



 

<%- include('footer.ejs') %> 
